## Q1. What are the three measures of central tendency?
#### Mean
#### Median
#### Mode

## Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?
#### Mean: The mean is also known as the average and is calculated by adding up all the values in the dataset and dividing the sum by the total number of values. It is sensitive to extreme values and can be affected by outliers. To calculate the mean, we sum up all the values and divide by the number of values in the dataset. The mean is commonly used when the data is normally distributed or approximately symmetric.

#### Median: The median is the middle value in a dataset when the values are arranged in ascending or descending order. If the dataset has an odd number of values, the median is the middle value. If the dataset has an even number of values, the median is the average of the two middle values. The median is not affected by extreme values or outliers, making it a robust measure of central tendency. It is often used when the data contains outliers or is skewed.

#### Mode: The mode is the value or values that occur most frequently in a dataset. In other words, it represents the most common observation. A dataset can have no mode if no value appears more than once, or it can have multiple modes if multiple values have the same highest frequency. The mode is useful for categorical or discrete data, but it can also be used with continuous data.

## Q3. Measure the three measures of central tendency for the given height data: [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [8]:
import pandas as pd

In [9]:
data = pd.DataFrame([178, 177, 176, 177, 178.2, 178, 175, 179, 180, 175, 178.9, 176.2, 177, 172.5, 178, 176.5])

In [10]:
data

        0
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [14]:
data.mean()

0    177.01875
dtype: float64

In [15]:
data.median()

0    177.0
dtype: float64

In [18]:
data.mode()

       0
0  177.0
1  178.0

## Q4. Find the standard deviation for the given data: [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [20]:
data

        0
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [19]:
data.std()

0    1.847239
dtype: float64

## Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe the spread of a dataset? Provide an example.

#### Range: The range is the simplest measure of dispersion and represents the difference between the maximum and minimum values in a dataset. It gives an idea of the spread of the entire dataset. However, it is sensitive to outliers and does not consider the distribution of values between the minimum and maximum.

#### Example: Consider a dataset of exam scores: [65, 72, 68, 90, 85]. The range is calculated as the difference between the maximum and minimum values: Range = 90 - 65 = 25. The range indicates that the scores vary by 25 points.

In [21]:
import numpy as np

dataset = np.array([65, 72, 68, 90, 85])

# Range
np.max(dataset) - np.min(dataset)

25

#### Variance: Variance measures the average squared deviation of each data point from the mean. It quantifies the spread of the data by taking into account the differences between each value and the mean. A higher variance indicates a greater spread, while a lower variance indicates less dispersion.

#### Example: Using the same exam scores dataset, the variance can be calculated. Let's assume the mean score is 76. The squared differences from the mean are: [121, 16, 64, 196, 81]. The variance is the average of these squared differences: Variance = (121 + 16 + 64 + 196 + 81) / 5 = 95.6. A higher variance suggests more variability in the scores.

In [23]:
np.var(dataset)

95.6

#### Standard Deviation: The standard deviation is the square root of the variance. It provides a measure of dispersion that is in the same units as the original data. A higher standard deviation indicates a wider spread, while a lower standard deviation suggests a more clustered distribution of values around the mean.

#### Example: Continuing with the exam scores dataset, the standard deviation can be calculated as the square root of the variance. Standard Deviation = √95.6 ≈ 9.78. The standard deviation tells us that the scores are, on average, about 9.78 points away from the mean.

In [24]:
np.std(dataset)

9.777525249264253

## Q6. What is a Venn diagram?

#### A Venn diagram is a graphical representation of the relationships between different sets of items. It uses overlapping circles or other shapes to visualize the commonalities and differences among the sets. Each circle represents a set, and the overlapping regions show the intersection of those sets.

## Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:
### (i) A ∩ B

### (ii) A ⋃ B

In [25]:
#(i) A ∩ B

A = {2, 3, 4, 5, 6, 7}
B = {0, 2, 6, 8, 10}

A.intersection(B)

{2, 6}

In [26]:
#(ii) A ⋃ B

A.union(B)

{0, 2, 3, 4, 5, 6, 7, 8, 10}

## Q8. What do you understand about skewness in data?

#### Skewness in data is a measure that describes the asymmetry or lack of symmetry in the distribution of values in a dataset. It quantifies the degree to which a dataset's distribution deviates from a perfectly symmetrical distribution.

#### Skewness is typically measured in terms of the tail of the distribution. It indicates whether the tail of the distribution is longer or shorter in one direction compared to the other. Skewness can have three possible outcomes:

#### Positive Skewness: It occurs when the tail of the distribution extends towards the right side.
#### Negative Skewness: It occurs when the tail of the distribution extends towards the left side.
#### Zero Skewness: A dataset is considered to have zero skewness when it exhibits perfect symmetry.

## Q9. If a data is right skewed then what will be the position of median with respect to mean?

#### In a right-skewed, the median will be positioned to the left of the mean.

## Q10. Explain the difference between covariance and correlation. How are these measures used in  statistical analysis?

### Covariance: Covariance measures the extent to which two variables vary together. It indicates the direction (positive or negative) of the relationship and the magnitude of the linear association between variables.
#### > A positive covariance indicates a positive relationship, meaning that when one variable increases, the other tends to increase as well.
#### > A negative covariance indicates a negative relationship, meaning that when one variable increases, the other tends to decrease.

In [27]:
import seaborn as sns

In [28]:
df = sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [29]:
df.cov()

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

### Correlation: Correlation, on the other hand, measures the strength and direction of the linear relationship between two variables. Unlike covariance, correlation is a standardized measure that ranges between -1 and +1, making it easier to interpret and compare across datasets. 

#### > A correlation coefficient of +1 indicates a perfect positive linear relationship, where both variables increase together.
#### > A correlation coefficient of -1 indicates a perfect negative linear relationship, where one variable increases while the other decreases.
#### > A correlation coefficient of 0 indicates no linear relationship between the variables.

In [30]:
df.corr()

/tmp/ipykernel_77/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

## Q11. What is the formula for calculating the sample mean? Provide an example calculation for a dataset.

### Sample Mean = (Sum of all the values in the dataset) / (Number of values in the dataset)

#### Let's take an example calculation for a dataset:
#### Dataset: [12, 15, 18, 20, 22]
#### Sample Mean = (12 + 15 + 18 + 20 + 22) / 5
#### Sample Mean = 17.4

## Q12. For a normal distribution data what is the relationship between its measure of central tendency?

#### Mean: The mean, also known as the average, is the measure of central tendency that represents the balancing point of the distribution. In a normal distribution, the mean is located at the exact center of the distribution, and it is equal to the median and mode. Therefore, for a normal distribution, the mean, median, and mode are all equal.

#### Median: The median is the middle value in the distribution when the values are arranged in ascending or descending order. In a normal distribution, the median is also equal to the mean and mode. This is because the normal distribution is symmetric, with an equal number of values on both sides of the center. As a result, the middle value is the same as the mean and mode.

#### Mode: The mode represents the values in the distribution that occur with the highest frequency. In a normal distribution, there is a single peak, and the data is symmetrically distributed around the mean. Therefore, the mode is equal to the mean and median.

## Q13. How is covariance different from correlation?

#### Covariance: Covariance measures the extent to which two variables vary together. It assesses the direction (positive or negative) and magnitude of the linear relationship between variables. Covariance can take any value, positive or negative.
#### Correlation: Correlation measures the strength and direction of the linear relationship between two variables. It is a standardized measure that ranges between -1 and +1, indicating the strength and direction of the linear association.

## Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

### Measures of Central Tendency: Outliers can heavily influence measures of central tendency such as the mean, median, and mode:
#### Mean: The mean is sensitive to extreme values, including outliers. A single extreme value can significantly shift the mean towards that value, distorting the measure of central tendency.
#### Median: The median is less affected by outliers compared to the mean. It represents the middle value in a dataset and is less influenced by extreme values.
#### Mode: The mode is generally not affected by outliers since it represents the most frequently occurring value(s). Outliers have a minimal impact on the mode unless they occur frequently.

### Measures of Dispersion: Outliers can also impact measures of dispersion, such as the range, variance, and standard deviation:
#### Range: Outliers, particularly those located at the extremes of the dataset, can substantially expand the range, leading to an overestimated measure of dispersion.
#### Variance: Outliers have a notable effect on the variance since it incorporates the squared differences between values and the mean. Outliers with large deviations can significantly increase the variance.
#### Standard Deviation: Similar to the variance, the standard deviation is influenced by outliers. It measures the dispersion around the mean, and outliers can contribute to a larger standard deviation.